<h1>Propertys</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.id %></td>
        <td><%= link_to property.name, property_path(property) %></td>
        <td>
          <%= link_to 'Edit', edit_property_path(property), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', property_path(property), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_property_path, :class => 'btn btn-primary' %>
