<h1>Experiment</h1>

<p>
  <b>Title</b><br>
  <%= @experiment.title %>
</p>

<p>
  <b>Location</b><br>
  <%= @experiment.description %>
</p>

<div class="form-actions">
  <%= link_to 'Back', experiments_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_experiment_path(@experiment), :class => 'btn' %>
  <%= link_to 'Delete', experiment_path(@experiment), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
